extends layout

block content
  h1 部屋一覧
  //- ng-cloakで{{}}が見えないようにする
  ul(ng-repeat='room in rooms track by $index' ng-cloak)
    li
      {{room}}

  a(href='/room/registration') 部屋の作成
    
block scripts
  script(src='/javascripts/index.js')
