extends layout

block content
  h1 部屋一覧
  ul
    //- ng-cloakで{{}}が見えないようにする
    li(ng-repeat='room in rooms track by $index' ng-cloak)
      form(ng-submit="login(room._id)", novalidate)
        span {{room.title}}
        br
        span 作成者：{{room.author}}
        br
        input(type='password', placeholder='パスワード', ng-model='data.pass[room._id]')
        input(type='submit', value='入場')
        span {{data.error[room._id]}}

  a(href='/room/registration') 部屋の作成
    
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/x64-core-min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha3-min.js')
  script(src='/javascripts/index.js')
