doctype html
html(ng-app='myApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets
    if jQueryFlag
      script(src='/javascripts/libs/jquery.min.js')
      script(src='/javascripts/libs/jquery-ui.min.js')
    script(src='/javascripts/libs/angular.min.js')
  body(ng-controller='MyController')
    block content
    block scripts
