doctype html
html(ng-app='myApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js')
  body(ng-controller='MyController')
    block content
    block scripts
