extends ../layout

block content
  form(novalidate)
    label(for='email') メールアドレス：
    input#email(type='text', name='email')
    br
    label(for='password') パスワード：
    input#password(type='password', name='password')
    br
    input(type='submit', value='ログイン')

  br
  a(href='./registration') ユーザ登録