extends ../layout

block content
  h2 部屋の作成
  form(name='regForm', ng-submit='onsubmit()', novalidate, ng-model-options="{updateOn: 'blur'}")
    div
      label(for='title') タイトル：
      input#title(type='text', name='title', ng-model='room.title', required)
      span(ng-messages='regForm.title.$error', ng-cloak)
        span(ng-message='required') 入力は必須です。
    div
      label(for='password') パスワード：
      input#password(type='password', name='password', ng-model='room.password', required, ng-minlength='4')
      span(ng-messages='regForm.password.$error', ng-cloak)
        span(ng-message='required') 入力は必須です。
        span(ng-message='minlength') パスワードは4文字以上入力してください。
    div
      label(for='objective') 目的：
      select#objective(name='objective', ng-model='room.objective', ng-change='objectiveChanged()' required)
        option(value='') 選択
        option(value='out-ideas') アイデア出し
        option(value='persue-ideas') アイデアを広げる
        option(value='demo') デモンストレーション
      span(ng-messages='regForm.objective.$error', ng-cloak)
        span(ng-message='required') 選択してください。
    div
      //- エラー未チェック
      span スケジュール：
      ol(ng-cloak)
        li(ng-repeat='section in room.schedule track by $index')
          input(type='text', ng-model='section.name')
          span &nbsp;
          input(type='text', ng-model='section.time', style='width: 30px; text-align: right')
          span 分
    br
    input(type='submit', value='登録', ng-disabled='regForm.$invalid || regForm.$submitted')

block stylesheets
  link(rel='stylesheet', href='/stylesheets/form.css')

block scripts
  script(src='/javascripts/libs/crypto-core.min.js')
  script(src='/javascripts/libs/crypto-core-x64.min.js')
  script(src='/javascripts/libs/crypto-sha3.min.js')
  script(src='/javascripts/libs/angular-messages.min.js')
  script(src='/javascripts/room/registration.js')