extends ../../layout

block content
  table(border='1', width='100%')
    // 幅の設定
    colgroup
      col(span='1', style='width: 5%')
      col(span='1', style='width: 15%')
      col(span='1', style='width: 45%')
      col(span='1', style='width: 30%')
      col(span='1', style='width: 10%')
    tr
      // ここにも幅の設定を書かないとChromeがおかしくなる
      td(width='5%', align='center')
        my-schedule-configure
      td(colspan='3', width='80%')
        my-schedule(schedule='schedule')
      td(width='10%', style='text-align: center')
        my-mic(state='micState')
        span &nbsp;&nbsp;
        a(href='/')
          img(src='/images/exit.png', alt='退出', title='退出')
    tr
      // こっちにheightを書かないとブラウザの互換性を保てない（Chromeとfirefoxにおいては）
      td(colspan='5', height='400px')
        my-whiteboard.unselect(post-its='postIts', members='members', user='user')
    tr(height='300px')
      td(colspan='3', valign='top')
        uib-tabset
          uib-tab(index='0', heading='チャット')
            my-chat-list(chats='chats')
            form(ng-submit='sendMessage()')
              label(for='message') 内容：
              input#message(name='message', type='text', ng-model='chat.message')
              input(type='submit', value='送信')
          uib-tab(index='1', heading='音声ログ')
            my-voice-log-list(voice-logs='voiceLogs', mic-state='micState')
          uib-tab(index='2', heading='個人用メモ')
            my-memo-list(memos='memos')
            form(ng-submit='sendMemo()')
              label(for='memo') 内容：
              input#memo(name='memo', type='text', ng-model='memo.message')
              input(type='submit', value='送信')
            input(type='button', value='一括付箋登録', ng-click='registerPostIts(memos)')
      td(colspan='2' valign='top')
        uib-tabset
          uib-tab(index='0', heading='メンバーリスト')
            ul(ng-cloak)
              li(ng-repeat='member in members | orderBy: "userName"' style='list-style-image: url(/cursor/{{member.cursorColorName}}.png)') {{member.userName}}
          uib-tab(index='1', heading='アイデア促進')
            table(width='100%')
              tr
                td(align='center')
                  span 副詞&nbsp;
                  input(type='button', value='更新', ng-click='word.adverb = WordList.getRandomAdverb()')
                  br
                  input(type='text', ng-model='word.adverb', ng-init='word.adverb = WordList.getRandomAdverb()', style='width: 100px')
                td(align='center')
                  span 形容動詞&nbsp;
                  input(type='button', value='更新', ng-click='word.adjectiveVerb = WordList.getRandomAdjectiveVerb()')
                  br
                  input(type='text', ng-model='word.adjectiveVerb', ng-init='word.adjectiveVerb = WordList.getRandomAdjectiveVerb()' style='width: 100px')
                td(align='center')
                  span 形容詞&nbsp;
                  input(type='button', value='更新', ng-click='word.adjective = WordList.getRandomAdjective()')
                  br
                  input(type='text', ng-model='word.adjective', ng-init='word.adjective = WordList.getRandomAdjective()' style='width: 100px')
                td(align='center')
                  span 名詞
                  br
                  input(type='text', ng-model='word.noun', style='width: 100px')
              tr
                td(colspan='3', style='padding-left: 10px; padding-top: 10px')
                  span {{word.word = word.adverb + word.adjectiveVerb + word.adjective + word.noun}}
                  br
                  input(type='button', value='メモ', ng-click='registerMemo(word.word)')

block stylesheets
  link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/contextMenu.css')
  link(rel='stylesheet', href='/stylesheets/chat.css')

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.2/ui-bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.2/ui-bootstrap-tpls.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-sanitize.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/contextMenu.js')
  script(src='/javascripts/room/chat/chat.js')
