extends ../../layout

block content
  table(border='1', width='100%')
    // 幅の設定
    colgroup
      col(span='1', style='width: 5%')
      col(span='1', style='width: 17%')
      col(span='1', style='width: 45%')
      col(span='1', style='width: 30%')
      col(span='1', style='width: 8%')
    tr
      // ここにも幅の設定を書かないとChromeがおかしくなる
      td(width='5%', align='center')
        my-schedule-configure
      td(colspan='3', width='80%')
        my-schedule(schedule='schedule')
      td(width='8%', style='text-align: center')
        a(href='')
          img(src='/images/mic_off.png')
        span &nbsp;&nbsp;
        a(href='/')
          img(src='/images/exit.png', alt='退出', title='退出')
    tr
      // こっちにheightを書かないとブラウザの互換性を保てない（Chromeとfirefoxにおいては）
      td(colspan='5', height='300px')
        my-whiteboard.unselect(post-its='postIts', members='members', user='user')
    tr(height='300px')
      td(colspan='3', valign='top')
        uib-tabset
          uib-tab(index='0', heading='チャット')
            my-chat-list(chats='chats')
            form(ng-submit='sendMessage()')
              label(for='message') 内容：
              input#message(name='message', type='text', ng-model='chat.message')
              input(type='submit', value='送信')
          uib-tab(index='1', heading='ログ')
            span 音声通話などのログ
      td(colspan='2' valign='top')
        uib-tabset
          uib-tab(index='0', heading='メンバーリスト')
            ul(ng-cloak)
              li(ng-repeat='member in members | orderBy: "userName"') {{member.userName}}
          uib-tab(index='1', heading='アイデア促進')
            span アイデア促進

block stylesheets
  link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/contextMenu.css')
  link(rel='stylesheet', href='/stylesheets/chat.css')

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.2/ui-bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.2/ui-bootstrap-tpls.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-sanitize.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/contextMenu.js')
  script(src='/javascripts/room/chat/chat.js')
