extends ../../layout

block content
  table(border='1', width='100%')
    tr
      td(colspan='2') スケジュール
    tr
      td(colspan='2', height='300px')
        my-whiteboard(post-its='postIts')
    tr
      td
        my-chat-list(chats='chats')
        form(ng-submit='sendMessage()')
          label(for='message') 内容：
          input#message(name='message', type='text', ng-model='chat.message', ng-init="chat.message=''")
          input(type='submit', value='送信')
          input(type='hidden', ng-model='chat.roomId', ng-init="chat.roomId='#{roomId}'")
          input(type='hidden', ng-model='chat.userName', ng-init="chat.userName='#{userName}'")            
      td メンバーリストとか

block stylesheets
  link(rel='stylesheet', href='/stylesheets/chat.css')

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/room/chat/chat.js')
